* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  height: 70px;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  overflow: hidden !important;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  min-height: auto;
  border-radius: 10px;
}

/* styles.css */
.line-clamp-1 {
  max-height: 50px;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  border-radius: 5% !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

/* Định nghĩa màu sắc cho dark mode */
body {
  background-color: #f9fafb;
  /* Default light background */
  color: #1f2937;
  /* Default text color */
}

.dark body {
  background-color: #1f2937;
  /* Dark background */
  color: #f9fafb;
  /* Light text for dark mode */
}

.dark .text-gray-800 {
  color: #f9fafb;
}

.dark .bg-white {
  background-color: #1f2937;
}

.dark .border-gray-200 {
  border-color: #4b5563;
}

.dark .text-black {
  color: #f9fafb;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 0.875rem !important;
  font-family: "Space Grotesk" !important;
}

.css-qxc2i0-MuiButtonBase-root-MuiButton-root {
  font-family: "Space Grotesk" !important;
}

.button.act {
  background: #f1f1f1 !important;
}

.submenu::before {
  content: "";
  width: 1px;
  height: 95%;
  position: absolute;
  top: 0px;
  left: 25px;
  background: rgba(131, 121, 121, 0.2);
}

.submenuWrapper {
  transform: translateY(-20px);
  transition: max-height 0.1s ease-in, transform 0.1s ease-in 0.1s,
    opacity 0.2s ease-in 0.1s;
  overflow: hidden;
}

.submenu li {
  opacity: 0;
  transform: translateX(-20px);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition-delay: 0.1s;
}

.submenuWrapper.open .submenu li {
  opacity: 1;
  transform: translateX(0);
}

.submenuWrapper.close {
  height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

.submenuWrapper.close .submenu {
  opacity: 0;
}

.submenuWrapper.open {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}

.submenuWrapper.open .submenu {
  opacity: 1;
}

.box::before {
  content: "";
  width: 80px;
  height: 80px;
  background: #0858f7;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  right: 0px;
  opacity: 0.5;
}

.box::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #0858f7;
  border-radius: 100%;
  position: absolute;
  top: 70px;
  left: 10px;
  opacity: 0.5;
}

.chart svg {
  font-size: 130px !important;
  color: #000;
}

/* Sidebar Styling */
.sidebar {
  background-color: #f7f7f7;
  width: 240px;
  /* Fixed width for the sidebar */
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Button Styling */
.button {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 100%;
  /* Prevent text overflow */
  white-space: nowrap;
  /* Prevent text wrapping */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis for overflowing text */
  border: none;
  background: none;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.button:hover {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.button .icon {
  flex-shrink: 0;
}

.button .text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }

  .button {
    font-size: 12px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #2b77e5;
  color: white;
  font-weight: bold;
  border: 1px solid #e5e7eb;
}

.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #e5e7eb;
}

.table tr:nth-child(odd) {
  background-color: #f9f9f9;
}